{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
 <h1><!--<a href="https://app.tango.us/app/workflow/298b70f2-f292-447a-b9f8-f7780bc7dbba?utm_source=magicCopy&utm_medium=magicCopy&utm_campaign=workflow%20export%20links" </a>target="_blank">-->Manga GPA</a></h1> 
<div><b>Author:</b> Adel Shousha</div>
<hr/>


<div><h3>1. Go to MANGA GPA: Log In</a></h3>
</div>

<div><h3>2. Type your username</h3>
<img src="https://images.tango.us/public/screenshot_12c4059c-c9a4-4e2a-8711-2d933f7b6d45.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5004&fp-y=0.1736&fp-z=2.3765&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A625" width="600" alt="Type your username" />
</div>

<div><h3>3. Type your password</h3>
<img src="https://images.tango.us/public/screenshot_7210c1e8-0df5-4f6c-96ef-6a9d370c725b.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5004&fp-y=0.2392&fp-z=2.3765&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A625" width="600" alt="Type your password" />
</div>

<div><h3>4. Click on Log In</h3>
<img src="https://images.tango.us/public/screenshot_1cbdbd1d-3990-43eb-9d69-becbf8244bc0.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.4996&fp-y=0.3144&fp-z=2.8868&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A625" width="600" alt="Click on Log In" />
</div>

<div><h3>5. Click on Add</h3>
<img src="https://images.tango.us/public/screenshot_dfb8223e-6862-44b6-9548-9f4f9e5ca806.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.1288&fp-y=0.0512&fp-z=2.8736&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A625" width="600" alt="Click on Add" />
</div>

<div><h3>6. Type your subject name</h3>
<img src="https://images.tango.us/public/edited_image_2a42b83a-0af9-4716-a514-25832a0f3ac7.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.5000&fp-z=1.0000&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=538%3A205" width="600" alt="Type your subject name" />
</div>

<div><h3>7. Type the credit hours</h3>
<img src="https://images.tango.us/public/edited_image_b81d6a73-eaf5-4875-9e37-0894688f87ec.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.5000&fp-z=1.0000&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=562%3A249" width="600" alt="Type the credit hours" />
</div>

<div><h3>8. Type the score</h3>
<img src="https://images.tango.us/public/edited_image_00681a7c-f7d5-4c5e-985d-ba64cae21c53.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.5000&fp-z=1.0000&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=562%3A249" width="600" alt="Type the score" />
</div>

<div><h3>9. Click on Add</h3>
<img src="https://images.tango.us/public/screenshot_10745559-cc08-418b-97c4-5bf9394246d3.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.6449&fp-y=0.1832&fp-z=2.8868&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A625" width="600" alt="Click on Add" />
</div>

<div><h3>10. Click on Finish when you are done adding subjects</h3>
<img src="https://images.tango.us/public/screenshot_79b94f3f-4028-4ef6-8b8f-89d447f33f4a.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.2680&fp-z=2.8868&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1366%3A625" width="600" alt="Click on Finish when you are done adding subjects" />
</div>

<div><h3>11. Click on Edit to edit your subject</h3>
<img src="https://images.tango.us/public/edited_image_a2d5ff6b-83ec-485a-a0fb-55dc9d4a4170.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.5000&fp-z=1.0000&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1087%3A159" width="600" alt="Click on Edit to edit your subject" />
</div>

<div><h3>12. Edit your subject then click on "Edit"</h3>
<img src="https://images.tango.us/public/edited_image_12b084e3-160a-4de4-8765-0273ec1f5414.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.5000&fp-z=1.0000&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=780%3A432" width="600" alt="Edit your subject then click on &quot;Edit&quot;" />
</div>

<div><h3>13. Click on Delete to delete your subject</h3>
<img src="https://images.tango.us/public/edited_image_1fef6382-e69a-434b-b631-82f674eb6045.png?fm=png&crop=focalpoint&fit=crop&fp-x=0.5000&fp-y=0.5000&fp-z=1.0000&w=1200&mark-w=0.2&mark-pad=0&mark64=aHR0cHM6Ly9pbWFnZXMudGFuZ28udXMvc3RhdGljL21hZGUtd2l0aC10YW5nby13YXRlcm1hcmsucG5n&ar=1179%3A164" width="600" alt="Click on Delete to delete your subject" />
</div>

<hr/>
<div>
<a href="https://app.tango.us/app/workflow/298b70f2-f292-447a-b9f8-f7780bc7dbba?utm_source=magicCopy&utm_medium=magicCopy&utm_campaign=workflow%20export%20links" target="_blank"><em>This workflow was created with Tango.</em></a>
</div>
{% endblock %}