{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container text-center">

    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Action</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>

            {% for log in logs %}
                <tr>
                    <td class="text-start">{{ log.stock_symbol }}</td>
                    <td class="text-end">{{ log.shares }}</td>
                    <td class="text-end">{{ log.stock_price | usd }}</td>
                    <td class="text-end">{{ log.action }}</td>
                    <td class="text-end">{{ log.time }}</td>

                </tr>
            {% endfor %}


        </tbody>
    </table>

</div>
{% endblock %}